html {
    padding: 0;
}
* {
    font-family: 'Quicksand', sans-serif;
}


body {
    height: 100%;
    min-height: 700px;
    padding: 100px;
    background-color: #eee;
}

.container {
    border: 1px solid #ddd;
    max-width: 600px;
    margin: auto;
    background: white;
}

.header {
    padding: 1em;
    text-align: center;
    width: 100%;

    img {
        height: 50px;
        margin: 0 auto;
    }

    .logo{
        font-size: 1.5em;
        margin: auto;
    }
}

.content {
  padding: 1em;
  .title {
  }
}


.footer {
  border-top: 1px solid #ddd;

  .meta {
    color: #999;
    font-size: 0.8em;
  }

  .social-links {
    padding: 1em 0;
    margin: 0 auto;
    .social {
      img {
        height: 40px;
      }
    }
  }
}
