doctype html
html
    head
        link(rel="stylesheet", href="./css/emails.css", data-inline)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand&display=swap")
        title Health Up
        script.
          document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    body
        div.container
            div.header
                img(src="https://res.cloudinary.com/dldhztrbs/image/upload/v1563958302/Health%20Up/logo.png")
                div.logo Health Up
            div.content
                p.title
                    span #{greeting || 'Hello'}
                p.
                    #{message || 'Message'}
                a(href=link)
                    span Reset Password
            div.footer
                table.social-links
                    tr
                        td
                            a.social(href='https://twitter.com/@healthupup')
                                img(src="https://res.cloudinary.com/dldhztrbs/image/upload/v1563958301/Health%20Up/twitter.png")
                        td
                            a.social(href='https://instagram.com/healthupup')
                                img(src="https://res.cloudinary.com/dldhztrbs/image/upload/v1563958301/Health%20Up/instagram.png")


